<div id="page" style="padding: 2em;">

  <div data-budget_categories-key="a" id="slider"></div>
      <div id="slider-cost">Line Item A: <span></span></div>
  <div data-budget_categories-key="b" id="slider-1"></div>
      <div id="slider-1-cost">Line Item B: <span></span></div>
  <div data-budget_categories-key="c" id="slider-2"></div>
      <div id="slider-2-cost">Line Item C: <span></span></div>
  <div data-budget_categories-key="d" id="slider-3"></div>
      <div id="slider-3-cost">Line Item D: <span></span></div>


      <div id="total-slider"></div>
      <div id="total-slider-cost">Income: <span></span></div>
      <div id="total-budget-cost">Expenditures: <span></span></div>
      <div id="total-discrepancy">Discrepancy: <span></span></div>
  </div>
